body {
    background-color: pink;
}
.color-box {
    width: 9vh;
    height:9vh;
    margin: 4px;
    border-radius: 50%;
}
.color1 {
    background-color: #ffc26d;
}
.color2{
    background-color: rgb(187, 231, 125);
}
.color3{
    background-color:rgb(130, 226, 230);
}
.color4{
    background-color: hsl(260, 100%, 77%);
}
.color5{
    background-color: #fb84ed;
}
.color-grid{
    display:flex;
    flex-wrap:wrap;
    
}